.App {
  text-align: center;
}

.lowerleft {
  margin-bottom: 1px;
  margin-left: 1px;
  width: 400px;
  height: 400px;
  position: fixed;
  bottom: 0;
}

.topright {
  margin-right: 1rem;
  margin-top: 1rem;
  position: absolute;
  top: 0px;
  right: 0px;
}
